body {
    background: rgb(245, 221, 218)
}


img {
    padding: 15px;
}

.displayBox {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #145a32;
    
}

.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}

.bi {
    color: #145a32;
}

.btn {
    background-color: #145a32;
}

a {
    color: #b64150;
}